{% extends "left_sidebar.html" %}
{% block main_container %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Pricing Calculator</h1>
    <nav>
      <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Home</a></li>
       <li class="breadcrumb-item"><a href="/">Tools</a></li>
       <li class="breadcrumb-item"><a href="/calculator">Pricing Calculator</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">

      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pricing Calulator</h5>
            <p>The calculator determines the total cost of a job based on overheads, equipment costing, material costing and labour</p>
                <!-- Multi Columns Form -->
              <form class="row g-3" method="POST" action="/calculator">
                <div class="col-md-12">
                  <label for="inputAsset" class="form-label">Select Printer</label>
                  <select class="form-select" id="inputAsset" name="inputAsset">
                      <option selected>Choose...</option>
                      {% for item in assets %}
                      <option value="{{ item.0 }}">{{ item.1 }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="row mb-5">
                    <p></p>
                  <label class="col-sm-2 col-form-label">Inks</label>
                  <div class="col-sm-10">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="primerInk">
                      <label class="form-check-label" for="primerInk" name="primerInk">Primer</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="glossInk">
                      <label class="form-check-label" for="glossInk" name="glossInk">Gloss</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="whiteInk">
                      <label class="form-check-label" for="whiteInk" name="whiteInk">White</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="embossInk">
                      <label class="form-check-label" for="embossInk" name="embossInk">Emboss</label>
                    </div>
                  </div>

                 <div class="row mb-5">
                    <p></p>
                   <label class="col-sm-2 col-form-label">Materials</label>
                   <div class="col-sm-10">
                     <div class="input-group mb-3">
                       <input type="text" class="form-control" placeholder="Ink Usage" aria-label="Ink Usage" aria-describedby="basic-addon2">
                       <span class="input-group-text" id="basic-addon2">ml</span>
                     </div>
                   </div>
                  </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>

              </form><!-- End Multi Columns Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

</main><!-- End #main -->
{% endblock %}