{% extends "left_sidebar.html" %}
{% block main_container %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Pricing Calculator</h1>
    <nav>
      <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Home</a></li>
       <li class="breadcrumb-item"><a href="/">Job Calculator</a></li>
       <li class="breadcrumb-item"><a href="/calculator/uvprint">Digital Job Calculator</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">

      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pricing Calulator</h5>
            <p>The calculator determines the total cost of a job based on overheads, equipment costing, material costing and labour</p>
                <!-- Multi Columns Form -->
              <form class="row g-3" method="POST" action="/calculator">
                <div class="col-md-12">
                  <label for="inputAsset" class="form-label">Select Printer & Media</label>
                  <select class="form-select" id="inputAsset" name="inputAsset">
                      <option selected>Choose...</option>
                      {% for item in assets %}
                      <option value="{{ item.0 }}">{{ item.1 }}</option>
                      {% endfor %}
                  </select>
                  <select class="form-select" id="inputAsset" name="inputAsset">
                    <option selected>Select Media</option>
                      {% for item in media %}
                      <option value="{{ item.0 }}">{{ item.4 }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="row mb-5">
                  <p></p>
                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Print Options</legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="printRadios" id="printRadios1" value="simplex" checked>
                            <label class="form-check-label" for="printRadios1">
                              Simplex
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="printRadios" id="printRadios2" value="duplex">
                            <label class="form-check-label" for="printRadios2">
                              Duplex
                            </label>
                          </div>
                        </div>
                    </fieldset>
                <p></p>
                <label class="col-sm-2 col-form-label">Vivid Options</label>
                <div class="col-sm-10">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="primerInk">
                      <label class="form-check-label" for="primerInk" name="primerInk">White</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="glossInk">
                      <label class="form-check-label" for="glossInk" name="glossInk">Gloss</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="whiteInk">
                      <label class="form-check-label" for="whiteInk" name="whiteInk">Silver</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="embossInk">
                      <label class="form-check-label" for="embossInk" name="embossInk">Gold</label>
                    </div>
                </div>

                <div class="row mb-5">
                    <p></p>
                    <label class="col-sm-2 col-form-label">Job Details</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="paperSize" name="paperSize">
                          <option selected>Select Paper Size</option>
                          <option value="SRA3">SRA3</option>
                          <option value="A3">A3</option>
                          <option value="A4">A4</option>
                          <option value="A5">A5</option>
                        </select>
                        <select class="form-select" id="finishSize" name="finishSize">
                          <option selected>Select Print Size Size</option>
                          <option value="A3">A3</option>
                          <option value="A4">A4</option>
                          <option value="A5">A5</option>
                          <option value="A6">A6</option>
                          <option value="A7">A7</option>
                          <option value="DL">DL</option>
                        </select>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Print Time" aria-label="Print Time" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2">Minutes</span>
                        </div>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Job Quantity" aria-label="Job Quantity" aria-describedby="basic-addon2" name="jobQuantity">
                        </div>
                    </div>
                    <div class="col-sm-10">
                    </div>
                    <p></p>
                    <label class="col-sm-2 col-form-label">Finishing Options</label>
                    <div class="col-sm-10">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="laminated">
                            <label class="form-check-label" for="laminated" name="laminated">Laminated</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="folded">
                            <label class="form-check-label" for="folded" name="folded">Folded</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="creased">
                            <label class="form-check-label" for="creased" name="creased">Creased</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="numbered">
                            <label class="form-check-label" for="numbered" name="numbered">Numbered</label>
                        </div>
                    </div>
                </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
              </div>

              </form><!-- End Multi Columns Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

</main><!-- End #main -->
{% endblock %}