{% extends "left_sidebar.html" %}
{% block main_container %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Vinyl Job Cost</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Job Calculator</li>
        <li class="breadcrumb-item active">Vinly Job Calculator</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Job Details - {{ qty }} Decals ({{ width }}x{{ height }})mm on {{ product }} @ £{{ mediaCost }} / sq.M</h5>
            <p>Orientation : <b>{{ density }}</b></p>
            <p>Job Rows : <b>{{ rows }}</b></p>
            <p>Media Sizing Requirements : <b>{{ media_required}} (mm)</b></p>
            <p>Total Cost of Materials : <b>£{{'%0.2f'|format(cost|float) }}</b></p>
            <p>Job Setup Cost : <b>£{{'%0.2f'|format(setupcost|float) }}</b></p>
            <p>Overhead Cost : <b>£{{'%0.2f'|format(overhead_cost|float) }}</b></p>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cost Breakdown</h5>
                <p></p>

              <!-- Radar Chart -->
              <div id="vinylJobCost"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#vinylJobCost"), {
                    series: [ {{ cost }}, {{ overhead_cost }, { setupcost }} ],
                    chart: {
                      type: 'polarArea',
                      height: 350,
                      toolbar: {
                        show: true
                      }
                    },
                    labels: [ 'Materials', 'Overhead Cost', 'Setup Cost' ],
                    stroke: {
                      colors: ['#fff']
                    },
                    fill: {
                      opacity: 0.8
                    }
                  }).render();
                });
              </script>
              <!-- End Polar Area Chart -->
            
            </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endblock %}