{% extends "left_sidebar.html" %}
{% block main_container %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Pricing Calculator</h1>
    <nav>
      <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Home</a></li>
       <li class="breadcrumb-item"><a href="/">Job Calculator</a></li>
       <li class="breadcrumb-item"><a href="/calculator/vinyl">Vinyl Job Calculator</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">

      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Vinyl Job Calculator</h5>
            <p>The calculator determines the total cost of a job based on overheads, equipment costing, material costing and labour</p>
                <!-- Multi Columns Form -->
              <form class="row g-3" method="POST" action="/calculator/vinyl">
                <div class="col-md-12">
                  <label for="jobAsset" class="form-label">Select Printer</label>
                  <select class="form-select" id="jobAsset" name="jobAsset">
                      <option selected>Choose...</option>
                      {% for item in assets %}
                      <option value="{{ item.0 }}">{{ item.1 }}</option>
                      {% endfor %}
                  </select>
                </div>

                  <div class="row mb-5">
                      <p></p>
                      <label class="col-sm-2 col-form-label">Job Details</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Job Width" aria-label="Job Width" aria-describedby="basic-addon2" name="jobWidth">
                            <span class="input-group-text" id="basic-addon1">mm</span>
                            <input type="text" class="form-control" placeholder="Job Height" aria-label="Job Height" aria-describedby="basic-addon2" name="jobHeight">
                            <span class="input-group-text" id="basic-addon2">mm</span>
                        </div>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon2">£</span>
                          <input type="text" class="form-control" placeholder="setupCost" aria-label="setupCost" aria-describedby="basic-addon2" name="setupCost">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Cutting Time" aria-label="Cutting Time" aria-describedby="basic-addon2" name="jobDuration">
                            <span class="input-group-text" id="basic-addon2">minutes</span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Number of Decals" aria-label="Number of Decals" aria-describedby="basic-addon2" name="jobQuantity">
                        </div>
                        </div>
                        <div class="input-group mb-3">
                            <select class="form-select" id="inputAsset" name="jobMedia">
                                <option selected>Select Media</option>
                                {% for item in media %}
                                <option value="{{ item.0 }}">{{ item.4 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>

              </form><!-- End Multi Columns Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

</main><!-- End #main -->
{% endblock %}