{% extends "left_sidebar.html" %}
{% block main_container %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Vinyl Media</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">Media</li>
        <li class="breadcrumb-item active"><a href="/media">Vinyl</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Vinyl Media List</h5>
            <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Media</h5>
            <p></p>
                <!-- Multi Columns Form -->
              <form class="row g-3" method="POST" action="/media/vinyl/add">
                <div class="col-md-12">
                  <label for="inputCostItem" class="form-label">Vendor</label>
                  <input type="text" class="form-control" id="inputCostItem" name="inputCostItem">
                </div>
                <div class="col-md-12">
                    <label for="inputCostItem" class="form-label">Product</label>
                    <input type="text" class="form-control" id="inputCostItem" name="inputCostItem">
                  </div>
                <div class="col-md-12">
                    <label for="inputVender" class="form-label">Supplier</label>
                    <input type="text" class="form-control" id="inputVendor" name="inputVendor">
                </div>
                <div class="col-md-2">
                    <label for="inputCost" class="form-label">Roll Width</label>
                    <input type="text" class="form-control" id="inputCost" name="inputCost">
                </div>
                <div class="col-md-2">
                    <label for="inputCost" class="form-label">Roll Length</label>
                    <input type="text" class="form-control" id="inputCost" name="inputCost">
                </div>
                <div class="col-md-2">
                  <label for="inputCost" class="form-label">Cost</label>
                  <input type="text" class="form-control" id="inputCost" name="inputCost">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->
          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endblock %}