{% extends "left_sidebar.html" %}
{% block main_container %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Asset & Cost Details</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item active">Blank</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Asset Lists</h5>
            <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Fixed Costs (Overheads)</h5>
            <p></p>
            <!-- Table with stripped rows -->
            <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">Cost Item</th>
                    <th scope="col">Vendor / Supplier</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Cost (£)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Rent</td>
                    <td>Agency</td>
                    <td>Monthly</td>
                    <td>666.67</td>
                  </tr>
                  <tr>
                    <td>Roland LEF Maintenance</td>
                    <td>Signmaster</td>
                    <td>Monthly</td>
                    <td>325.00</td>
                  </tr>
                  <tr>
                    <td>Telephone Service</td>
                    <td>Global Reach Digital</td>
                    <td>Monthly</td>
                    <td>120.00</td>
                    <td><button type="button" class="btn btn-warning"><i class="ri ri-file-edit-line"></i>Edit</button></td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
              <p></p>

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endblock %}