{% extends "left_sidebar.html" %}
{% block main_container %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Add Costs</h1>
    <nav>
      <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Home</a></li>
       <li class="breadcrumb-item"><a href="/assets">Assets & Costs</a></li>
       <li class="breadcrumb-item"><a href="/assets/addcost">Add Cost</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">

      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Fixed Cost</h5>
            <p></p>
                <!-- Multi Columns Form -->
              <form class="row g-3" method="POST" action="/assets/addcost">
                <div class="col-md-12">
                  <label for="inputCostItem" class="form-label">Cost Item</label>
                  <input type="text" class="form-control" id="inputCostItem" name="inputCostItem">
                </div>
                <div class="col-md-12">
                    <label for="inputVender" class="form-label">Vendor / Supplier</label>
                    <input type="text" class="form-control" id="inputVendor" name="inputVendor">
                </div>
                <div class="col-md-4">
                    <label for="inputFrequency" class="form-label">Payment Frequency</label>
                    <select id="inputFrequency" class="form-select" name="inputFrequency">
                      <option selected>Choose...</option>
                      <option value="Monthly">Monthly</option>
                    </select>
                </div>
                <div class="col-md-2">
                  <label for="inputCost" class="form-label">Cost</label>
                  <input type="text" class="form-control" id="inputCost" name="inputCost">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->
          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endblock %}