{% extends "left_sidebar.html" %}
{% block main_container %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Asset & Cost Details</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item active">Blank</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Asset Lists</h5>
            <p>You do not have any assets</p>
            <button type="button" class="btn btn-outline-primary">Add Asset</button>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Fixed Costs (Overheads)</h5>
            <p></p>
            <!-- Table with stripped rows -->
            <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">Cost Item</th>
                    <th scope="col">Vendor / Supplier</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Cost (£)</th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in results %}
                  <tr>
                    <td>{{ item.1 }}</td>
                    <td>{{ item.2 }}</td>
                    <td>{{ item.3 }}</td>
                    <td>{{ item.4 }}</td>
                    <td><button type="button" class="btn btn-warning"><i class="ri ri-file-edit-line"></i></button></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
              <h2>Hourly Running Costs : £{{ '%0.2f'|format(cost.0/220|float) }}</h2>
              <button type="button" class="btn btn-outline-primary">Add Fixed Cost</button>
              <p></p>
              <!-- Radar Chart -->
              <div id="polarAreaChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#polarAreaChart"), {
                    series: [ {% for item in results %} {{ item.4 }} {% if not item.last %},{% endif %} {% endfor %} ],
                    chart: {
                      type: 'polarArea',
                      height: 350,
                      toolbar: {
                        show: true
                      }
                    },
                    labels: [ {% for item in results %} '{{ item.1 }}' {% if not item.last %},{% endif %} {% endfor %} ],
                    stroke: {
                      colors: ['#fff']
                    },
                    fill: {
                      opacity: 0.8
                    }
                  }).render();
                });
              </script>
              <!-- End Polar Area Chart -->



          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endblock %}